/* * {
  border: 1px solid gold;
} */

:root {
  --french-blue: #3a4660;
  --comfort-tan: #c9af98;
  --peachy-cream: #ed8a63;
  --brown-bonnet: #845007;
  --white-ish: #f9f8fd;
}

* {
  margin: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

/* Home Styling */

body {
  background-color: var(--white-ish);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.home-selections {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item:first-child {
  margin-right: 7.5px;
}

.menu-item:last-child {
  margin-left: 7.5px;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.backgroundImage:hover {
  transform: scale(1.1);
  transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.content {
  height: 90px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.7;
  position: absolute;
}

.content:hover {
  opacity: 0.9;
}

.title {
  font-weight: bold;
  margin: 0 6px 0;
  font-size: 22px;
  color: #4a4a4a;
}

.subtitle {
  font-weight: lighter;
  font-size: 16px;
}

.card-orient {
  margin: 5px;
}
.container {
  padding: 0px;
}
.display-4, .lead {
  margin-left: 20px;
}

.span-q {
  margin-left: .5px;
  margin-right: 1.5px;
}
